{% block create %}
    <turbo-stream action="update" target="product-{{ entity.product.id }}-quick-stats">
        <template>
            {{ include('product/_quickStats.html.twig', {
                product: entity.product
            }) }}
        </template>
    </turbo-stream>

    <turbo-stream action="append" target="product-{{ entity.product.id }}-review-list">
        <template>
            {{ include('product/_review.html.twig', {
                review: entity,
                isNew: true
            }) }}
        </template>
    </turbo-stream>

    <turbo-stream action="append" target="product-{{ entity.product.id }}-toasts">
        <template>
            {{ include('_toast.html.twig', {
                title: 'New Review!',
                body: 'A new review was just posted for this product.'
            }) }}
        </template>
    </turbo-stream>
{% endblock %}

{% block update %}
    <turbo-stream action="replace" target="product-review-{{ entity.id }}">
        <template>
            {{ include('product/_review.html.twig', {
                review: entity
            }) }}
        </template>
    </turbo-stream>
{% endblock %}

{% block remove %}
    <turbo-stream action="replace" target="product-review-{{ id }}">
        <template>
            {{ include('product/_review.html.twig', {
                review: entity,
                isRemoved: true
            }) }}
        </template>
    </turbo-stream>
{% endblock %}
