{% extends 'product/productBase.html.twig' %}

{% block productBody %}
    <div id="product-{{ product.id }}-toasts"></div>

    <turbo-frame class="row pt-3 product-show" id="product-info" target="_top">
        <div class="col-4">
            <img alt="{{ product.name }}"
                 src="{{ asset('/uploads/products/'~product.imageFilename) }}"
                 class="d-block">
            <div class="p-2">
                <small>brought to you by </small>
                <small class="d-inline">{{ product.brand }}</small>
            </div>
        </div>
        <div class="col-8 px-3">
            <h1>
                {{ product.name }}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('product_admin_edit',{id:product.id}) }}"
                       class="btn btn-sm btn-secondary"
                       data-turbo-frame="product-info">
                        Edit
                    </a>
                {% endif %}
            </h1>
            <div>
                {{ product.description }}
            </div>
            <div class="p-3 mt-4 d-flex justify-content-between flex-wrap flex-lg-nowrap">
                <div id="product-{{ product.id }}-quick-stats">
                    {{ include('product/_quickStats.html.twig') }}
                </div>
                <div>
                    {{ include('product/_cart_add_controls.html.twig') }}
                </div>
            </div>
        </div>
    </turbo-frame>
    <hr>
    <h3>Reviews</h3>
    {{ include('product/_reviews.html.twig') }}
{% endblock %}
