<div class="toast"
     role="alert"
     aria-live="assertive"
     aria-atomic="true"
        {{ stimulus_controller('toast') }}>
    <div class="toast-header">
        <svg class="rounded me-2"
             width="20"
             height="20"
             xmlns="http://www.w3.org/2000/svg"
             aria-hidden="true"
             preserveAspectRatio="xMidYMid slice"
             focusable="false">
            <rect width="100%" height="100%" fill="#007aff"></rect>
        </svg>
        <strong class="me-auto">{{ title }}</strong>
        <small>{{ when|default('just now') }}</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast"
                aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{ body }}
    </div>
</div>
