{% extends 'base.html.twig' %}

{% macro renderFormField(field, class) %}
    <div class="form-group {{ class }}"></div>
{% endmacro %}

{% block body %}
    <div class="container-fluid container-xl mt-4">
        <div class="row">
            <aside class="col-12 col-lg-4">
                <turbo-frame id="cart-sidebar"
                             src="{{ path('app_cart_product_featured') }}"
                             target="_top">
                    Loading...
                </turbo-frame>
            </aside>
            <div class="col-12 col-lg-8 cart">
                <h1>Checkout</h1>
                <div class="p-3">
                    {{ form_start(checkoutForm) }}
                    <div class="form-row">
                        {{ form_row(checkoutForm.customerName, {
                            row_attr: { class: 'col mb-3' }
                        }) }}
                        {{ form_row(checkoutForm.customerEmail, {
                            row_attr: { class: 'col mb-3' }
                        }) }}
                    </div>
                    {{ form_row(checkoutForm.customerAddress) }}
                    <div class="form-row">
                        {{ form_row(checkoutForm.customerCity, {
                            row_attr: { class: 'col mb-3' }
                        }) }}
                        {{ form_row(checkoutForm.customerZip, {
                            row_attr: { class: 'col mb-3' }
                        }) }}

                        {{ form_row(checkoutForm.customerPhone, {
                            row_attr: { class: 'col' }
                        }) }}
                    </div>
                    <div class="form-row d-flex justify-content-end mt-4">
                        <div>
                            <button type="submit" class="btn btn-success btn-lg me-3" formnovalidate>
                                Submit Order
                            </button>
                        </div>
                        <div>
                            <a href="{{ path('app_cart') }}" class="btn btn-secondary btn-lg">
                                Back to Cart
                            </a>
                        </div>
                    </div>
                    {{ form_end(checkoutForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
